.app-header {
    $textColor: white;
    $bgColor: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--layout-padding);
    padding-block: 2rem;
    box-shadow: 0 3px 10px var(--shadow-color);
    margin-bottom: 1.5rem;
    background-color: $bgColor;
    color: $textColor;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        cursor: pointer;

        .app-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    nav {
        display: flex;

        > *:not(:first-child) {
            --nav-margin: 2rem;
            margin-inline-start: var(--nav-margin);
            position: relative;
            &:before {
                content: "|";
                position: absolute;
                left: calc(var(--nav-margin) / 2 * -1);
                color: $textColor;
                pointer-events: none;
            }
        }

        .active {
            color: var(--accent);
        }
    }
}
