.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--layout-padding);
    padding-block: 2rem;
    box-shadow: 0 3px 10px var(--shadow-clr);
    margin-bottom: 1.5rem;
    background-color: var(--header-bg-clr);
    font-size: 1.2rem;
    font-weight: 500;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        cursor: pointer;

        .app-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .nav-and-actions {
        display: none;
        display: flex;
        align-items: center;

        nav {
            display: flex;

            > * {
                --nav-margin: 2rem;
                margin-inline-end: var(--nav-margin);
                position: relative;
                transition: color 0.1s ease-in-out;

                &::after {
                    content: "|";
                    position: absolute;
                    right: calc(var(--nav-margin) / 2 * -1);
                    color: var(--text-clr);
                    pointer-events: none;
                }
                &.active,
                &:hover {
                    color: var(--accent-clr);
                }
            }
        }

        .preferences {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .metric-btn {
                cursor: pointer;
                transition: color 0.1s ease-in-out;

                &:hover {
                    color: var(--accent-clr);
                }
            }
        }
    }
}
