.app-header {
    display: flex;
    align-items: center;
    padding-inline: var(--layout-padding);
    padding-block: 2rem;
    box-shadow: 0 3px 10px var(--shadow-clr);
    margin-bottom: 1.5rem;
    background-color: var(--header-bg-clr);
    font-size: 1.2rem;
    font-weight: 500;

    .logo-and-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        cursor: pointer;

        .app-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    nav {
        display: flex;

        > *:not(:first-child) {
            --nav-margin: 2rem;
            margin-inline-start: var(--nav-margin);
            position: relative;

            &:before {
                content: "|";
                position: absolute;
                left: calc(var(--nav-margin) / 2 * -1);
                color: var(--text-clr);
                pointer-events: none;
            }
        }

        .active {
            color: var(--accent-clr);
        }
    }
}
