.city-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;

    .details-sections {
        display: grid;
        place-items: center;
        gap: 1rem;
        h4 {
            font-size: 1.8rem;
        }

        .favorite-btn {
            display: contents;
            > * {
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
                transition: color 0.1s;

                &:hover {
                    color: var(--accent-clr);
                }
            }
        }
    }
}
