.forecast-preview {
    background-color: #ffffffc2;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-start;

    text-align: center;

    .img-container {
        position: relative;
        padding: 1.5rem;
        background-color: #c7aa753a;
        .day {
            position: absolute;
            right: 5%;
            bottom: 2.5%;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
    .details {
        padding: 1rem 0.3rem 0.5rem;
        .weather-desc {
            min-height: 3rem;
            display: grid;
            place-items: center;
            font-weight: 500;
        }

        .temps {
            margin-bottom: 0.5rem;
            > * {
                display: flex;
                justify-content: space-evenly;
            }
        }

        .date {
            font-size: 1.2rem;
            display: inline-block;
        }
    }
}
