.forecast-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 300px) {
    .forecast-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 350px) {
    .forecast-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
