.search-bar {
    display: grid;
    place-items: center;
    max-width: 100%;
    margin-bottom: 1.5rem;

    .container {
        position: relative;
        $text-padding-inline: 0.4rem;
        .search-input {
            max-width: 2rem;
            background-color: var(--input-clr);
            color: var(--text-clr);
            font-family: Montserrat, sans-serif;
            border-radius: 20rem;
            border: none;
            font-size: 1rem;
            padding: 0.4rem 0.8rem;
            transition: width 0.2s;
            box-shadow: 0 3px 14px var(--shadow-clr);

            &.open {
                max-width: 15rem;
            }
        }
        .search-icon {
            position: absolute;
            right: 0.6rem;
            bottom: 50%;
            transform: translateY(50%);
        }
        .invalid-input-msg {
            position: absolute;
            color: red;
            left: 0;
            text-align: center;
            width: 100%;
        }
    }
}
