.search-bar {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;

    .container {
        position: relative;
        .search-input {
            width: 2rem;
            background-color: var(--input-clr);
            font-family: Montserrat, sans-serif;
            border-radius: 20rem;
            border: none;
            font-size: 1rem;
            padding: 0.4rem 0.8rem;
            transition: width 0.2s;
            box-shadow: 0 3px 14px var(--shadow-clr);

            &.open {
                width: 15rem;
            }
        }
        .search-icon {
            position: absolute;
            right: 0.6rem;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}
