// Colors
:root {
    --bg-clr: #f5f5f5;
    --text-clr: #1c1c1c;
    --accent-clr: #ff9838;
    --shadow-clr: #00000020;
    --card-header-clr: #c7aa753a;
    --bg-gradient: linear-gradient(#add8e6, #fff1c3);
    --header-bg-clr: #f5f5f575;
    --input-clr: #ffffff;
    --clr-transition: 0.2s;
    --backdrop-clr: #57575736;
}

body.dark-mode {
    --bg-clr: #242424;
    --text-clr: #f5f5f5;
    --shadow-clr: #00000020;
    --card-header-clr: #6666664f;
    --bg-gradient: linear-gradient(#202020, #1b2d45);
    --header-bg-clr: #20202075;
    --input-clr: #3b3b3b;
    --backdrop-clr: #57575736;
}

// background-image: linear-gradient(lightblue, rgb(242 255 228));
// background-image: linear-gradient(#add8e6, #ffe8c2);
// background-image: linear-gradient(lightblue, rgb(255, 241, 195));

// --bg-gradient: linear-gradient(#202020, #123464, #27342a);
