*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-clr);
    background-image: var(--bg-gradient);
    // background-attachment: fixed;
    transition: 0.2s ease-in;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    // position: fixed;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    height: unset;
}

input,
textarea {
    &:focus-visible {
        outline: none;
    }
}

textarea {
    font-family: inherit;
    font-size: 1.5rem;
}
